.env
.*
!.gitignore
*.ini
*node_modules
*.lck
*~$*

hardware/working_exports
hardware/bom.xlsx
hardware/PicoDAC/PicoDAC-backups
hardware/PicoDAC/fp-info-cache
hardware/PicoDAC/#auto_saved_files#
hardware/PicoDAC/_autosave-PicoDAC.kicad_sch
hardware/PicoDAC/_autosave-PicoDAC.kicad_pcb
hardware/PicoDAC/fabrication-toolkit-options.json
hardware/PicoDAC/production